appdirs==1.4.4
attrs==21.2.0
autopage==0.4.0
Babel==2.9.1
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.6
cliff==3.9.0
cmd2==2.2.0
colorama==0.4.4
cryptography==35.0.0
debtcollector==2.3.0
decorator==5.1.0
Django==2.0.13
django-appconf==1.0.5
django-babel==0.6.2
django-compressor==2.4.1
django-debreach==2.0.1
django-pyscss==2.0.2
dogpile.cache==1.1.4
fasteners==0.16.3
futurist==2.4.0
idna==3.2
importlib-metadata==4.8.1
importlib-resources==5.2.2
iso8601==0.1.16
jmespath==0.10.0
jsonpatch==1.32
jsonpointer==2.1
jsonschema==3.2.0
keystoneauth1==4.4.0
msgpack==1.0.2
munch==2.5.0
netaddr==0.8.0
netifaces==0.11.0
openstacksdk==0.59.0
os-client-config==2.1.0
os-service-types==1.7.0
osc-lib==2.4.2
oslo.concurrency==4.4.1
oslo.config==8.7.1
oslo.context==3.3.1
oslo.i18n==5.1.0
oslo.log==4.6.0
oslo.policy==3.8.2
oslo.serialization==4.2.0
oslo.upgradecheck==1.4.0
oslo.utils==4.10.0
osprofiler==3.4.2
packaging==21.0
pbr==5.6.0
Pint==0.17
prettytable==2.2.1
pycparser==2.20
pyinotify==0.9.6
pymongo==3.12.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyperclip==1.8.2
pyrsistent==0.18.0
pyScss==1.3.7
python-cinderclient==8.1.0
python-dateutil==2.8.2
python-glanceclient==3.5.0
python-keystoneclient==4.3.0
python-neutronclient==7.6.0
python-novaclient==17.6.0
python-swiftclient==3.12.0
pytz==2021.3
PyYAML==5.4.1
rcssmin==1.0.6
requests==2.26.0
requestsexceptions==1.4.0
rfc3986==1.5.0
rjsmin==1.1.0
semantic-version==2.8.5
setuptools-rust==0.12.1
simplejson==3.17.5
six==1.16.0
stevedore==3.4.0
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.26.7
warlock==1.3.3
wcwidth==0.2.5
WebOb==1.8.7
wrapt==1.13.1
XStatic==1.0.2
XStatic-Angular==1.8.2.1
XStatic-Angular-Bootstrap==2.5.0.0
XStatic-Angular-FileUpload==12.0.4.0
XStatic-Angular-Gettext==2.4.1.0
XStatic-Angular-lrdragndrop==1.0.2.4
XStatic-Angular-Schema-Form==0.8.13.0
XStatic-Bootstrap-Datepicker==1.4.0.0
XStatic-Bootstrap-SCSS==3.4.1.0
XStatic-bootswatch==3.3.7.0
XStatic-D3==3.5.17.0
XStatic-Font-Awesome==4.7.0.0
XStatic-Hogan==2.0.0.3
XStatic-Jasmine==2.4.1.2
XStatic-jQuery==3.5.1.1
XStatic-JQuery-Migrate==3.3.2.1
XStatic-jquery-ui==1.12.1.1
XStatic-JQuery.quicksearch==2.0.3.2
XStatic-JQuery.TableSorter==2.14.5.2
XStatic-JSEncrypt==2.3.1.1
XStatic-mdi==1.6.50.2
XStatic-objectpath==1.2.1.0
XStatic-Rickshaw==1.5.1.0
XStatic-roboto-fontface==0.5.0.0
XStatic-smart-table==1.4.13.2
XStatic-Spin==1.2.5.3
XStatic-term.js==0.0.7.0
XStatic-tv4==1.2.7.0
zipp==3.6.0
